body {
    margin: 0;
    text-align: center;
    font-family: 'Mansalva', cursive;
    background: url("./images/crumple-bg.jpg");
    /* background: url("./images/lightpaperfibers.png"); */
    /* background-color: #ffffcc; */
}

#notepad-background {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    height: 600px; 
    background: url("./images/flip-this-notepad-4.png");
    background-repeat: no-repeat; 
    background-position: 0 55%;
}

#left-buttons {
    padding-top: 100px;
    width: 100px;
    margin-right: 60px;
}

#right-buttons {
    padding-top: 100px;
    right: 0;
    margin-left:30px;
    width: 100px; 
    float: right;
    overflow: auto;
}

#right-buttons button {
    font-size: 12px;
    padding: 10px;
}

#left-buttons button {
    font-size: 12px;
    padding: 10px;
}

/* #main-container {


#main-container {
    display: flex;
} */

#canvas-area {
    flex-basis: 60%;
    /* background-color: grey; */
    margin-bottom: 40px;
    /* margin-top: 15px; */
}
#animation-config {
    flex-basis: 40%;
}

.page-wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    
}

.page-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    height: 100px;
}

#login-form, #signup-form, h4#logged-in, div#users-flipbooks, div#display-users-flipbooks, div#button-holder, footer {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /* animation parts */   
    animation-name: animatetop;
    animation-duration: 0.8s;
}

/* for modal animation parts */   
@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
  }

#flipbooks-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flipbook-list-item {
    width: 250px;
    height: 120px;
    background: url("./images/flipbook-icon.png");
    background-size: 250px 120px;
    background-repeat: no-repeat;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.flipbook-list-item p {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20pt;
}

#main-title {
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
    margin: 0;
}

#login-or-signup {
    margin: 4px;
    width: 150px;
}

#header {
    display: flex;
    justify-content: space-between;
}



/* buttons */
/* Normal white Button as seen on Google.com*/
button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    cursor: pointer;
}

button.login, button.signup {
    padding: 8px 16px;
    font-size: 9pt;
}
.animation-config button{
    width: 90px;
    margin: 1px;
}
.button-heading {
    font-size: 25px;
    padding-bottom: 10px;
    color: #444444;
}

#left-buttons button{
    height: 53px;;
}

#new-layer {
    width: 500px;
    height: 40px;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

/* Blue button */
button.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

button.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

/* Orange button */
button.orange {
    color: white;
    border: 1px solid #FB8F3D; 
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B); 
    background: -moz-linear-gradient(top, #FD924C, #F9760B); 
    background: -ms-linear-gradient(top, #FD924C, #F9760B); 
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

/* Red Google Button */
button.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836); 
    background: -moz-linear-gradient(top, #DD4B39, #D14836); 
    background: -ms-linear-gradient(top, #DD4B39, #D14836); 
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
}

button.red:hover {
     background: -webkit-linear-gradient(top, #DD4B39, #C53727);
     background: -moz-linear-gradient(top, #DD4B39, #C53727);
     background: -ms-linear-gradient(top, #DD4B39, #C53727);
     border: 1px solid #AF301F;
}

button.red:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
}


/* Forms */

form {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    /* background-color: rgba(192, 203, 218, 0.79); */
    /* background: url(https://www.webfx.com/blog/images/cdn.designinstruct.com/files/234-colored_vintage_paper_textures/colored_vintage_paper_texture_08_deep_red.jpg) center no-repeat; */
    overflow: auto;
    /* border: 0.5px solid rgb(48, 121, 237, 0.3); */
    /* border-radius: 20px; */
    /* box-shadow: 5px 5px 3px rgb(95, 108, 130); */
}

form label {
    font-size: 2rem;
    /* color: white !important; */
}

form h4 {
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: 'Gochi Hand', cursive;
    font-size: 2rem;
    /* color: white; */

}

form input {
	font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgba(192, 203, 218, 0);;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 60%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	color:#000;
    margin-bottom: 30px;
    border-bottom: 1px dashed;
    cursor: pointer;
}

form input:focus {
    background: #8ea2ae9a;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 50%; 
    box-sizing: border-box;
    margin: 10px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    cursor: pointer
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}


/* Logo */

#logo-container {
    width: 150px;
}

#logo-canvas {
    margin-right: 30px;
}

/* page num and layer num  */
#pages-and-layers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#page-num-div, #layer-num-div {
    justify-content: space-between;
    width: 200px;
    font-size: 20px;
    padding-bottom: 18px;
}

/* footer {
    display: flex;
    margin: 0 auto;

} */
/* footer h2 {
    display: flex;
} */

footer {
    margin-top: 20px;
    padding-bottom: 10px;
}
.instructions {
    display: flex;
    margin: 0 auto;
}


.instructions ol{
    display: flex;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;    
    color: #444444;
    font-size: 30px;
    text-align: left;
}
.instructions p {
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.instructions ol li{
    width: 300px;
    margin-left:15px;
    margin-right:15px;
}

.instructions ol li b {
    color: #4C8FFB;
}

.insturctions ol li small{
    font-size: 18px;
}

#top-instructions {
    padding-top:40px;
    margin-bottom:15px;
}

#draw-save {
    display: none;
}

#display-users-flipbooks {
    width: 150px;
}

#flip-title {
    font-size: 20px;
    
}

#flip-title-div {
    padding-bottom: 18px;
}

button.small {
    font-size: 10px;
    padding: 2px;
    border-radius: 10px;
}