body {
    margin: 0;
}

#main-container {
    display: flex;
}

#canvas-area {
    flex-basis: 60%;
    background-color: grey;
}
#animation-config {
    flex-basis: 40%;
}

.page-wrapper {
    position: relative;
    width: 800px;
    height: 500px;
}

.page-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    height: 100px;
}

#login-form, #signup-form {
    display: none;
}